<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <filter>
    <display-name>urlComplement</display-name>
    <filter-name>urlComplement</filter-name>
    <filter-class>filter.urlComplement</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>urlComplement</filter-name>
    <url-pattern>/urlComplement</url-pattern>
  </filter-mapping>
  <display-name>ecSite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>controller.CartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>productExtension</servlet-name>
    <servlet-class>controller.productExtension</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WelcomePage</servlet-name>
    <servlet-class>controller.WelcomePage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserRegistration</servlet-name>
    <servlet-class>controller.UserRegistration</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>productServlet</servlet-name>
    <servlet-class>controller.productServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>productExtension</servlet-name>
    <url-pattern>/productextension</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WelcomePage</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserRegistration</servlet-name>
    <url-pattern>/userregistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>productServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>filter.encodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listener.setContextPath</listener-class>
  </listener>
</web-app>